/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#space{
    background-image: url(https://i.dlpng.com/static/png/6587507_preview.png);
    height: 100vh;
    width: 100%;
}
#circle-orbit-container{
    height: 850px;
    width: 1500px;
    position: relative;

}
#first-orbit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 800px;
    border: 2px #4A437F dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;
}
#second-orbit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 700px;
    border: 2px #4A437F dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;
}
#third-orbit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 600px;
    border: 2px #4A437F dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;

}
#fourth-orbit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 500px;
    border: 2px #4A437F dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;

    
}
#fifth-orbit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 400px;
    border: 2px #4A437F dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;


}
#sixth-orbit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
    border: 2px #4A437F dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;

}
#seventh-orbit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    border: 2px #4A437F dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;

}
#eighth-orbit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    border: 2px #4A437F dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;

}
.eighth-orbit-circles {
    position: absolute;
   
    border-radius: 100%;
    background-color: #4A437F;
}
.eighth-orbit-circles img{
    width: 97px;
}
@keyframes spin-right {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

 */



/* ---------- Container for the orbiting circles animation ---------- */
#circle-orbit-container {
  position: relative;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 300px;
  transform: translate(-50%, 66%);
}

/* ---------- Inner orbit - This is the circles closest to the central point ---------- */
#first-orbit {
  position: absolute;
  top: 75px;
  left: 75px;
  width: 150px;
  height: 150px;
  border: 2px #4A437F dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 10s linear infinite;
  animation: spin-right 10s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.first-orbit-cirlces {
  position: absolute;
  top: 62px;
  left: -6px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #9F98E6;
  background-image: url(https://i.pinimg.com/736x/03/c8/a2/03c8a2aff8be6bee9064eef9b5d72d66.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* ---------- Middle orbit - This is the circles second closest to the central point ---------- */
#second-orbit {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 225px;
  height: 225px;
  border: 2px #4A437F dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 15s linear infinite;
  animation: spin-right 15s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.second-orbit-cirlces {
  position: absolute;
  top: 25px;
  left: 17px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #4A437F;
  background-image: url(https://i.pinimg.com/736x/65/44/42/6544426207b93738e1d5bbf6e3c7b569.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;


}

/* ---------- Outer orbit - This is the circles furthest away from the central point ---------- */
#third-orbit {
  position: absolute;
  top: 0;
  left: 0;
  width: 294px;
  height: 294px;
  border: 2px #4A437F dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 20s linear infinite;
  animation: spin-right 20s linear infinite;
}

/* ---------- Repeating styles for the outer orbiting circles ---------- */
.third-orbit-cirlces {
  position: absolute;
  top: -17px;
  left: 125px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: #00FFCA;
  background-image: url(https://i.pinimg.com/originals/20/5c/47/205c47f27df50e3f626aeb25677feabd.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#fourth-orbit {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 370px;
    height: 360px;
    border: 2px #4A437F dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 25s linear infinite;
    animation: spin-right 25s linear infinite;
  }
  
  /* ---------- Repeating styles for the outer orbiting circles ---------- */
  .fourth-orbit-cirlces {
    position: absolute;
    top: -17px;
    left: 128px;
    height: 32px;
    width: 32px;
    border-radius: 100%;
    background-color: #3c00ff;
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Earth_Western_Hemisphere_transparent_background.png/1024px-Earth_Western_Hemisphere_transparent_background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #fifth-orbit {
    position: absolute;
    top: -55px;
    left: -50px;
    width: 425px;
    height: 425px;
    border: 2px #4A437F dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 35s linear infinite;
    animation: spin-right 35s linear infinite;
  }
  .fifth-orbit-cirlces{
    position: absolute;
    top: -18px;
    left: 200px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #3c00ff;
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/9/94/Pluto-transparent.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }




/* ---------- Animation ---------- */
@keyframes spin-right {
  100% {
    transform: rotate(360deg);
  }
}